/*
Theme name: Theme wordpress pour TP
Author: Gabriel Bara (Gabax)
Description: Template du thème destiné au rendu du tp wordpress
Version: 0.0.1
Tags: html, php, css3
*/

/* === STRUCTURE GÉNÉRALE === */

.header-top {
    /* height: 200px; */
    background-color: rgb(34, 34, 34);
    color: aqua;
}

.header-bottom {
    background: url('/wp-content/themes/tp-theme/assets/img/drones.jpg');
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 600px;
}

footer {
    height: 200px;
    background-color: black;
}

.main-w,
.header-top-w,
.footer-w {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.header-top-w {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-bottom-w {
    padding: 0 13%;
}

.main-w {
    /* background-color: rgb(214, 214, 214); */
    padding: 30px 10px;
}

.main-w>.listed-article:last-of-type {
    border-bottom: none;
}

.listed-article {
    padding-top: 15px;
    padding-bottom: 50px;
    border-bottom: 2px dotted #000;
}

/* === CLASSES POLYVALENTES === */

.text-light {
    color: rgb(201, 201, 201);
}

.text-dark {
    color: rgb(14, 14, 14);
}

.text-gray {
    color: gray;
}

/* === DÉTAIL === */

.main-title {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 1000;
    color: rgb(212, 212, 212);
    padding: 5px;
    letter-spacing: 2px;
    line-height: 50px;
    /* max-width: 40%; */
}

.icons {
    display: flex;
    align-items: center;
}

.icons>* {
    padding: 10px;
    color: rgb(212, 212, 212);
}

.header-bottom-w {
    background-color: rgba(255, 255, 255, 0.308);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.header-bottom-w #article-research {
    width: 200px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 3px;
}

.header-bottom-w #article-research:focus-visible {
    outline: none;
}

.header-bottom-w button {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid gray;
}

.header-bottom-bottom-blur {
    height: 15px;
    background-color: rgba(255, 255, 255, 0.308);
}

#menu-nav {
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
}

#menu-nav>li>a {
    padding: 25px 0 22px 0;
    margin: 0 40px 0 0;
    transition: all .2s;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
    display: block;
}

#menu-nav>li:hover>a {
    color: cyan;
    border-bottom: 3px solid cyan;
    transition: all .2s;
}

.listed-article img {
    width: 100%;
}

.add-club-form>div {
    width: 500px;
    display: flex;
    justify-content: space-between;
}